$color_main: #62B1BB;
$color_main_dark: #33647B;
$color_main_text: #F5F5E9;
$color_main_text_dark: #1a1a1a;
$color_day_cell_highlight_background: #E67C6C;
$color_day_cell_highlight_color: #F5F5E9;

$day_cell_height: 2.4rem;
$day_cell_width: 2.4rem;
$day_cell_border_radius: 0.3rem;
$day_font_size: 1.2rem;
$day_font_weight: 500;
$day_font_weight_highlight: 600;
